---
import MainLayout from '~/layouts/MainLayout.astro';
import EvenColumnsLayout from '~/layouts/EvenColumnsLayout.astro';
import vertexShader from "~/glsl/hello.vert?raw";
import fragmentShader from "~/glsl/hello.frag?raw";
import Link from '~/components/common/Link.astro';

const vertScript = `<script type="x-shader/x-vertex" id="vertex-shader">${vertexShader} </script>`;
const fragScript = `<script type="x-shader/x-fragment" id="fragment-shader"> ${fragmentShader} </script>`;

---
<MainLayout
	title={`playground`}
	metaDescription={`show case of glsl canvas and how to use it in astro`}
>
	<EvenColumnsLayout>
		<div class="flow">
			<div class="">
				<h1 class="fs-secondary-heading fw-bold">
					ERROR CODE 404
				</h1>
				<p data-width="wide" class="margin-top-400">
					No file is served at this URL path. Please check the URL and try again.
					go back to <a href="/" class="fw-medium">home</a>
				</p>
			</div>

		</div>

        <div class="">
			<canvas>Your browser does not seem to support HTML5 canvas.</canvas>
		</div>
	</EvenColumnsLayout>
</MainLayout>

<Fragment set:html={ vertScript } />
<Fragment set:html={ fragScript } />

<script>
import  createHelloOnClient  from "~/glsl/createHelloOnClient";

createHelloOnClient()
</script>


<style>
	@import url('src/styles/glsl-canvas.scss');
</style>
