---
import MainLayout from '~/layouts/MainLayout.astro';

import { aboutMeWidget } from '~/data/site-info';
import EvenColumnsLayout from '~/layouts/EvenColumnsLayout.astro';
import ProfileArticle from '~/components/ProfileArticle.astro';
import SocialArea from '~/components/SocialArea.astro';
---

<MainLayout title={aboutMeWidget.title}>
	<EvenColumnsLayout>
		<div class="">
			<ProfileArticle
				title={aboutMeWidget.aboutMe.title}
				description={aboutMeWidget.aboutMe.description}
			/>

			<div class="margin-top-400">
				<SocialArea socials={aboutMeWidget.socialLinks} />
			  </div>
		</div>
		
	</EvenColumnsLayout>
</MainLayout>