---
import MainLayout from '~/layouts/MainLayout.astro';
import ProfileArticle from '~/components/ProfileArticle.astro';
import Experience from '~/components/vue-components/3DExperience.vue'; 
import siteInfo from '~/data/site-info';
import EvenColumnsLayout from '~/layouts/EvenColumnsLayout.astro';

import VcrEffect from '~/components/common/VcrEffect.astro'
---
<MainLayout title={siteInfo.description}>
	<EvenColumnsLayout>
		<ProfileArticle class="reversed"/>

			<astro-heart style="position: relative">
				<Experience
					client:only
					transition:animate="slide"
					canvasClass='canvas-model'
					containerClass="absolute-position"
				/>

				<div class="loading |absolute-position" >
					<VcrEffect />
				</div>
			</astro-heart>
	</EvenColumnsLayout>
</MainLayout>

<script>
let currenttime  = new Date().getTime()
	  
// Define the behaviour for our new type of HTML element.
class AstroHeart extends HTMLElement {
	constructor() {
		super();

		void import ('~/components/vue-components/3DExperience.vue').then(() => {
			const canvasModel: HTMLElement | null =  document.querySelector(".canvas-model")
			const loaderAnimation: HTMLElement | null =  document.querySelector(".loading")

			if (canvasModel !== null ) {
				canvasModel.style.display = "block"
				// canvasModel.style.visibility = "visible"


			} if (loaderAnimation !== null ) {
				// loaderAnimation.style.visibility = "hidden"
				loaderAnimation.style.opacity = '0.1'
			}
		}).finally(() => {
			console.log('time to render glsl: ', new Date().getTime() - currenttime, 'ms')
		})
	}
}

// Tell the browser to use our AstroHeart class for <astro-heart> elements.
customElements.define('astro-heart', AstroHeart);

</script>

<style>

.absolute-position{
	position: absolute;
	width: 100%;
}

.loading {
  visibility:visible;
  opacity: 1;
  pointer-events: none;
}

.canvas-model {
	display: none;
}

/* decorative properties  */
.loading{
	height: 20rem;
	outline: 1px solid grey;
    border-radius: 55% / 5%;

	background-color: #000000;
}
</style>

<style is:global>
.canvas-model{
    border-radius: 55% / 5%;
}
</style>
