---
import MainLayout from '~/layouts/MainLayout.astro';
import ProfileArticle from '~/components/ProfileArticle.astro';
import Experience from '~/components/vue-components/3DExperience.vue'; 
import siteInfo from '~/data/site-info';
import EvenColumnsLayout from '~/layouts/EvenColumnsLayout.astro';
---
<MainLayout title={siteInfo.description}>
	<EvenColumnsLayout>
		<ProfileArticle  class="reversed"/>

		<astro-heart>
			<div class="loading">Wait ...</div>

			<Experience
				client:only
				canvasClass='canvas-model'
			/>
		</astro-heart>			
	</EvenColumnsLayout>
</MainLayout>

<script>
let currenttime  = new Date().getTime()
	  
// Define the behaviour for our new type of HTML element.
class AstroHeart extends HTMLElement {
	constructor() {
		super();

		void import ('~/components/vue-components/3DExperience.vue').then(() => {
			const canvasModel: HTMLElement | null =  document.querySelector(".canvas-model")
			const loaderAnimation: HTMLElement | null =  document.querySelector(".loading")

			if (canvasModel !== null ) {
				canvasModel.style.display = "block"

			} if (loaderAnimation !== null ) {
				loaderAnimation.style.display = "none"
			}

		}).finally(() => {
			console.log('time to render glsl: ', new Date().getTime() - currenttime, 'ms')
		})
	}
}

// Tell the browser to use our AstroHeart class for <astro-heart> elements.
customElements.define('astro-heart', AstroHeart);

</script>

<style>
.loading{
	display:block;
}
.canvas-model {
	display: none;
}

/* decorative properties  */
.loading{
	height: 20rem;
	outline: 1px solid grey;
    border-radius: 55% / 5%;

	/* adding noise */
	background: 
    repeating-radial-gradient(#ffffff 0 0.0001%,#000000 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#ffffff 0 0.0001%,#000000 0 0.0002%) 60% 60%/2500px 2500px;
	background-blend-mode: difference;
	animation: loading-animation .2s infinite alternate;

	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes loading-animation{
  100% {background-position: 50% 0, 55% 50%}
}
</style>

<style is:global>
.canvas-model{
    border-radius: 55% / 5%;
}
</style>
