---
import { decorateTextLinks } from '~/utils/decorateTextLinks';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<div class="flow reversed">
  <h1 class="fs-primary-heading fw-bold">
    {title}
  </h1>

  <p data-width="wide"
    set:html={decorateTextLinks(description)}
  />

  <div class=""></div>
</div>

<style>
@media (max-width: 55em) {
  .reversed {
      grid-row-start: 2;
    }
}
</style>