---
import { decorateTextLinks } from '~/utils/decorateTextLinks'
import presentation from "~/data/intro";
---

<div class="flow reversed">
  <h1 class="fs-primary-heading fw-bold">
    {presentation.title}
  </h1>

  <p data-width="wide"
    set:html={decorateTextLinks(presentation.description)}
  />

  <div class="">
  </div>
</div>

<style>
@media (max-width: 55em) {
  .reversed {
      grid-row-start: 2;
    }
}
</style>