---
// import type { SocialLink } from "~/data/site-info";
import Link from "./common/Link.astro";

type SocialLink = {
    label: string;
    link: string;
};
interface Props  {
  socials: SocialLink[]
};

const {
  socials,
} = Astro.props;
---

<ul role="list" class="flex">
  {
    socials.map((social, _index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} />
        </li>
      </>
    ))
  }
</ul>
