---
import Link from "./common/Link.astro";
import intro from "~/data/intro";
---

<ul role="list" class="flex">
  {
    intro.socials.map((social, _index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} />
        </li>
      </>
    ))
  }
</ul>
