---
import BaseHead from '~/components/common/BaseHead.astro';

interface Props {
	title: string;
	/**
	 * to be concantinated with the default meta description
	 */
	metaDescription?: string;
}

const { title: layoutTitle, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead
		title={layoutTitle}
		metaDescription={metaDescription}
	/>

	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
/* general styling */
body {
	font-size: var(--fs-body);
	font-family: var(--ff-body);
	color: var(--clr-primary-400);
}

p:not([class]) {
	opacity: 0.7;
	max-width: 32ch;
}

p[data-width="wide"] {
	max-width: 50ch;
}
</style>
